body {
    margin: 0;
}

nav.flex {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: #d8d96d;
}

.flex a {
    text-decoration: none;
}

.flex a:hover {
    background-color: #0ad098;
}